img {
    width: 200px;
}

.cabecalho {
    width: 1800px;
    height: 100px;
    background-color: hotpink;

}

.primeirasecao {
    display: flex;
    justify-content: space-between;
    width: 1800px;
    height: 600px;
    background-color: orchid;
}

.divisao {
    width: 200px;
    height: 200px;
    background-color: pink
}