img {
    width: 200px;
}

.cabecalho {
    width: 1700px;
    height: 100px;
    background-color: hotpink;

}

.primeirasecao {
    width: 1700px;
    height: 600px;
    background-color: orchid;
}

.divisao {
    width: 200px;
    height: 200px;
    background-color: hotpink
}